<div class="content">
    <h1>Clientes</h1><hr>
    <div class="row" style="margin: 30px 0px">
        <div class="col-md-6 border border-primary boxes" *ngFor="let data of datas">
            <div *ngIf="data.acf.logo['url'] != null" class="imagem">
                <img src=" {{ data.acf.logo['url'] }} " alt="">
            </div>
            <h1>{{ data['client_name'] }}</h1>
        </div>
    </div>

    <button class="btn btn-danger" style="margin: 0px 10px" routerLink="/solutions">Prev</button>
    <button class="btn btn-danger" routerLink="/portfolio">Next</button>

</div>